@import "_typeplate/_typeplate";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2ede9;
  color: #141b14;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
  //color: #4a2e14;
}

h1 {
    text-align: center;
    //color: #4a2e14;
}

a {
  color: #30415c;

  &:hover {
    color: lighten(#30415c, 10%);
  }
  &:active {
    color: lighten(#30415c, 20%);
  }

}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}

.container {
  padding-top: 1.65em;
  width: 92%;
  max-width: 40em;
  margin: 0 auto;
}

.no-margin {
  margin-bottom: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #31425c;
  border-color: #31425c;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken(#31425c, 10%);
    border-color: darken(#31425c, 10%);

  }
}

.btn-secondary {
  color: #fff;
  background-color: #57371c;
  border-color: #57371c;

  &:hover {
    color: #fff;
    background-color: darken(#57371c, 10%);
    border-color: darken(#57371c, 10%);
  }
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 8px;
}



@media (min-width: 481px) and (max-width: 640px) {
  html {
      font: $typl8-font-weight #{$typl8-font-size - 15 + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family;
  }
}

@media (max-width: 480px) {
  html {
      font: $typl8-font-weight #{$typl8-font-size - 20 + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family;
  }
}
