@import "_typeplate/_typeplate";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2ede9;
  color: #141b14;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
  //color: #4a2e14;
}

h1 {
    text-align: center;
    //color: #4a2e14;
}

a {
  color: #30415c;

  &:hover {
    color: lighten(#30415c, 10%);
  }
  &:active {
    color: lighten(#30415c, 20%);
  }

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding-top: 1.65em;
  width: 92%;
  max-width: 40em;
  margin: 0 auto;
}

.no-margin {
  margin-bottom: 0px;
}

@media (min-width: 481px) and (max-width: 640px) {
  html {
      font: $typl8-font-weight #{$typl8-font-size - 15 + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family;
  }
}

@media (max-width: 480px) {
  html {
      font: $typl8-font-weight #{$typl8-font-size - 20 + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family;
  }
}
