@import "_typeplate/_typeplate";

body {
  font-family: 'Alegreya', serif;
}

.container {
  padding-top: 1.65em;
  width: 92%;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
