h1 404
h4.no-margin Whoops! Looks like what you're looking for can't be found.
<img alt="A doodle of a cat" class="img-responsive" src="img/404-cat.svg" onerror="this.onerror=null; this.src='404-cat.png'">
