h1 Ben Franck
.center
  img(alt="A doodle of Ben presenting his prototype to stakeholders" src="img/boardroom-sketch-v2.jpg")

!= partial('_content/intro')

.center
  a#stamp.btn.btn-primary(href='mailto:benjamin.franck@gmail.com') Contact Me
  span &nbsp;
  a.btn.btn-secondary(href='/pdf/ben_franck_resume.pdf') Download My Resume

br 
br 

!= partial('_content/stories')
!= partial('_content/orgs')
!= partial('_content/contact')
